body {
    background-image: url(./calci.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    position: absolute;
    top: 2%;
    color: #e67b00;
    font-size: 45px;
    text-decoration:underline;
}
.calculator {
    width: 350px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
}

.expression {
    background-color:none;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    padding: 5px 10px;
    height: 20px;
    overflow: hidden;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #ddd;
}

.operator {
    background-color: #ff9500;
    color: white;
}

.operator:hover {
    background-color: #e68a00;
}
